.header {
  display: flex;
  background-color: $color-back;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
}
.logo {
  background-color: royalblue;
}

.search {
  width: 25%;
  display: inline-block;
  background-color: white;
  box-shadow: 0 8px 4px #7634a598;
  border-radius: 5px;
  &__form {
    position: relative;
    text-align: center;
    border: none;
  }

  &__input {
    width: 80%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    z-index: 2;
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-primary;
    }
  }

  &__btn {
    position: absolute;
    background-color: transparent;
    height: 100%;

    top: 0%;
    left: 4%;
    border: none;
    color: $color-primary;
    border-radius: 5px;
  }
}
.nav {
  flex: 15% 0 0;
  height: 100%;
  background-color: red;
  position: relative;

  &__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
  }

  &__items {
    height: 100%;
    position: relative;
    top: 30%;
  }

  &__link {
    color: $color-primary;
  }

  &__photo {
    height: 100%;
    border-radius: 55%;
    transform: translateY(-30%);
  }

  &__name {
    font-size: small;
    text-transform: uppercase;
  }
}

.link {
  text-decoration-line: none;
}
