.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  border-bottom: 1px solid grey;
  position: relative;
}
.home {
  color: white;
  transition: all 0.2s;
  padding: 1rem;
  border-radius: 5px;

  &:hover {
    color: rgb(198, 206, 198);
    background-color: $color-primary;
  }
  &:active {
    background-color: $color-primary-dark;
  }
}
.logo {
  margin-left: 10%;
  font-size: 3rem;
  color: $color-primary-dark;
  letter-spacing: 2px;
  font-weight: bold;
  border-bottom: 2px solid $color-primary-dark;
  @include repond(ipad) {
    margin-left: 5%;
  }
}

.search {
  width: 25%;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  &__suggestion {
    position: absolute;
    left: 0;
    display: none;
    border-radius: 5px;
    margin-top: 0.5rem; // display: none;
    background-color: white;
    transition: all 0.3s;
    animation-delay: 0.2s;
    z-index: 999;

    &--link {
      &:link,
      &:visited {
        display: block;
        background-color: $color-primary;
        color: white;
        text-transform: uppercase;
        margin: 0.5rem;
        padding: 0.5rem;
        text-align: left;
        text-decoration: none;
        border-radius: 5px;
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &:hover {
        box-shadow: 0 4px 5px rgba($color: #000, $alpha: 0.2);
        transform: translateY(-3px);
        background-color: $color-primary-dark;
      }

      &:active {
        transform: translateY(0px);
      }
    }
  }
  &__form {
    position: relative;
    text-align: center;
    border: none;
    flex-basis: 30%;
  }

  &__input {
    width: 80%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    z-index: 2;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
      z-index: 10;
      box-shadow: 0 4px 5px rgba($color: #000, $alpha: 0.2);
      border-right: 3px solid red;

      // box-shadow: 0 8px 4px #7634a598;
    }

    &:focus ~ :last-child {
      display: block;
      width: 106%;
    }
    &:focus ~ :nth-last-child(2) {
      opacity: 0;
    }

    &::placeholder {
      color: $color-primary;
      padding-left: 0.8rem;
    }
  }

  &__btn {
    position: absolute;
    background-color: white;
    height: 100%;
    transition: all 0.2s;
    padding-left: 2px;
    top: 0%;
    left: 4%;
    border: none;
    color: $color-primary;
    border-radius: 5px;
  }
}

.user-nav {
  flex-basis: 20%;
  margin-right: 2%;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  height: 80%;
  & > * {
    padding: 1rem;
    background-color: $color-primary;
    border-radius: 5px;
    box-shadow: 1px 0.3rem 2px rgba($color: #000, $alpha: 0.2);
    cursor: pointer;
    color: white;
    margin-left: 2%;
    font-weight: bold;
    text-shadow: 1px 2px 0 rgba($color: #000000, $alpha: 0.3);
    text-transform: uppercase;
    transition: all 0.2s;

    &:hover {
      background-color: $color-primary-dark;
      transform: translateY(-3px);
    }
    &:active {
      transform: translateY(0px);
    }
  }
  &__profile {
    display: flex;
    align-items: center;
    &--img {
      height: 4rem;
      width: 3rem;
      border-radius: 55px;
    }

    &--name {
      margin-left: 10px;
    }
  }
}

.notification {
  background-color: red;
  display: inline-block;
  padding: 0 3px;
  text-shadow: none;
  font-weight: bold;
  text-align: center;
  padding-left: 0.5rem;
  border-radius: 50%;
  transform: translateY(-1rem);
  box-shadow: 1px 3px 0 rgba(152, 112, 216, 0.945);
}

.icon-messsage {
  font-size: 3rem;
}
