.main {
  display: grid;
  grid-template-rows: 6.5rem 1fr;
  grid-template-columns: minmax(20rem, 15%) 1fr;
}
.header {
  grid-row: 1 /2;
  grid-column: 1 /-1;
}
.sidebar {
  grid-row: 2/-1;
  grid-column: 1/2;
  @include repond(ipad) {
    grid-row: 1 /1;
    grid-column: 1/1;
    display: none;
  }
}
.main-page {
  grid-row: 2/-1;
  grid-column: 2/-1;
  overflow-y: scroll;
  @include repond(ipad) {
    grid-row: 2/-1;
    grid-column: 1/-1;
  }
}
.content {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: repeat(8, 1fr);
}

.content-header {
  grid-row: 1/2;
  grid-column: 1/-1;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
.content-post {
  grid-row: 2 /3;
  grid-column: 2/8;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: rebeccapurple;
}

.content-features {
  border-top: 1px solid gray;
  grid-row: 3 /-1;
  grid-column: 2/ 8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
}

// #FF6F61
// #6B5B95
// #88B04B
// #F7CAC9
// #955251
// #B565A7
