*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.25%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #6aafe6;
  background-image: linear-gradient(to right, #e2e0e0, #e9e3e3);
  font-size: 1.6rem;
  margin: 1rem;
  letter-spacing: 1px; }

.main {
  width: 80vw;
  height: 97vh;
  margin: 0 auto;
  background-color: #adcbe0;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.2); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  border-bottom: 1px solid grey;
  position: relative; }

.logo {
  margin-left: 10%;
  font-size: 3rem;
  color: #4599df;
  letter-spacing: 2px;
  font-weight: bold;
  border-bottom: 2px solid #4599df; }

.search {
  width: 25%;
  display: inline-block;
  background-color: white;
  border-radius: 5px; }
  .search__suggestion {
    position: absolute;
    left: 0;
    display: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    background-color: white;
    transition: all 0.3s;
    animation-delay: 0.2s; }
    .search__suggestion--link:link, .search__suggestion--link:visited {
      display: block;
      background-color: #6aafe6;
      color: white;
      text-transform: uppercase;
      margin: 0.5rem;
      padding: 0.5rem;
      text-align: left;
      text-decoration: none;
      border-radius: 5px;
      transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .search__suggestion--link:hover {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
      transform: translateY(-3px);
      background-color: #4599df; }
    .search__suggestion--link:active {
      transform: translateY(0px); }
  .search__form {
    position: relative;
    text-align: center;
    border: none;
    flex-basis: 30%; }
  .search__input {
    width: 80%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    z-index: 2;
    transition: all 0.2s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      z-index: 10;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
      border-right: 3px solid red; }
    .search__input:focus ~ :last-child {
      display: block;
      width: 106%; }
    .search__input:focus ~ :nth-last-child(2) {
      opacity: 0; }
    .search__input::placeholder {
      color: #6aafe6;
      padding-left: 0.8rem; }
  .search__btn {
    position: absolute;
    background-color: white;
    height: 100%;
    transition: all 0.2s;
    padding-left: 2px;
    top: 0%;
    left: 4%;
    border: none;
    color: #6aafe6;
    border-radius: 5px; }

.user-nav {
  flex-basis: 20%;
  margin-right: 2%;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  height: 80%; }
  .user-nav > * {
    padding: 1rem;
    background-color: #6aafe6;
    border-radius: 5px;
    box-shadow: 1px 0.3rem 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: white;
    margin-left: 2%;
    font-weight: bold;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    transition: all 0.2s; }
    .user-nav > *:hover {
      background-color: #4599df;
      transform: translateY(-3px); }
    .user-nav > *:active {
      transform: translateY(0px); }
  .user-nav__profile {
    display: flex;
    align-items: center; }
    .user-nav__profile--img {
      height: 4rem;
      width: 3rem;
      border-radius: 55px; }
    .user-nav__profile--name {
      margin-left: 10px; }

.notification {
  background-color: red;
  display: inline-block;
  padding: 0 3px;
  text-shadow: none;
  font-weight: bold;
  text-align: center;
  padding-left: 0.5rem;
  border-radius: 50%;
  transform: translateY(-1rem);
  box-shadow: 1px 3px 0 rgba(152, 112, 216, 0.945); }

.icon-messsage {
  font-size: 3rem; }
